body {
    font-family: "新レトロ丸ゴシック";
}

h1 {
    color: rgb(56, 0, 94);
    font-weight: 100;
    text-align: center;
    background-color: aqua;
}
.ponpon img {
    width: 500px;
    margin-left: 900px;
}