body {
    font-family: "新レトロ丸ゴシック";
    background-color: rgb(240, 186, 219);
}

p1 {
    text-align: center;
    color: rgb(14, 111, 26);
    font-weight: 100;
    font-size: 50px;
    background-color: rgba(177, 212, 138, 0.949);
    opacity: 0.8;
    margin:auto
}
p2 {
    color: rgb(184, 0, 0);
    font-size: 40px;
}

p3 {
    color: rgb(19, 7, 19);
    font-size: 70px;
}

p4 {
    color: rgb(19, 7, 19);
    font-size: 80px;
}

p {
    color:rgb(125, 0, 0);
    font-size: 120%;
    margin: auto;
}

p6 {
    color: rgb(211, 5, 5);
    background-color: blueviolet;
    font-size: 70px;
}
p7 {
    text-align: center;
    color: rgb(0, 60, 189);
    font-weight: 100;
    font-size: 40px;
    background-color: rgba(195, 138, 212, 0.949);
    opacity: 0.8;
}

p8 {
    color: rgb(211, 5, 5);
    font-size: 100px;
}

p9 {
    color: rgb(5, 0, 0);
    font-size: 70px;
}

p10 {
  color: rgb(5, 0, 0);
  font-size:45px;
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #5979be;/*ボタン色*/
    color: #faf5b7;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
  .btn-edge {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 30px;
    font-size: 19px;
    height: 40px;
    line-height: 40px!;
    background: rgb(255, 251, 0);;
    font-size: 20px;
    color: rgb(227, 1, 1);
    transition: .4s;
  }
  
  .btn-edge:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 21px rgb(153,102,153);
    border-bottom: solid 41px transparent;
    z-index: 1;
    transition: .4s;
  }
  
  .btn-edge:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 21px transparent;
    border-bottom: solid 41px rgb(153,102,153);
    z-index: 1;
    transition: .4s;}
    .btn-edge:hover:before, .btn-edge:hover:after {
        border-left-width: 25px;
      }
      
      .deg_btn:hover {
        background: #2c3148;
      }