body {
    font-family: "Oradano-mincho-GSRR";
}

p1 {
    text-align: center;
    color: red;
    font-weight: 100;
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.949);
    opacity: 0.8;
}
p2 {
    color:aliceblue;
    font-size: 50px;
}